{% extends 'base.html'%}
{%block title%} Home {% endblock title %}
{%block body%} 
<span>
    <p id="para">
        Lorem Ipsum is simply dummy text of the
        printing and typesetting industry. Lorem Ipsum
        has been the industry's standard dummy text
        ever since the 1500s, when an unknown printer
        took a galley of type and scrambled it to make a
        type specimen book. It has survived not only
        five centuries, but also the leap into electronic
        typesetting, remaining essentially unchanged
    </p>
</span>
<span>
    <img src="/static/images/wp3703614-forza-horizon-4-wallpapers.jpg" id="img" alt="...">
</span>
<h2>
    <span>
<a href="/service" id="dash">DASHBOARD</a>
</span>
</h2>
<div class="container1">
<div class="container">
<span ID="add">ADDRESS1</span>
<span ID="add">CONTACT:9999999999</span>
<span ID="add">EMAIL:example@mail.com</span>
</div>
<div class="container">
<span ID="add">ADDRESS2</span>
<span ID="add">CONTACT:9999999999</span>
<span ID="add">EMAIL:example@mail.com</span>
</div>
<div class="container">
<span ID="add">ADDRESS3</span>
<span ID="add">CONTACT:9999999999</span>
<span ID="add">EMAIL:example@mail.com</span>
</div>
</div>
{% endblock body %}
